<!DOCTYPE html>
<html>
<head>
	<title>Email</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/tab-design.css">

	<link rel="stylesheet" href="../assets/css/jquery.contextMenu.min.css">

	<link rel="stylesheet" href="../assets/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="../assets/css/custom-font.css">

	<link rel="stylesheet" type="text/css" href="../assets/css/email-project.css">
	<script src="../assets/js/jquery-3.3.1.js"></script>

	<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../assets/js/include-html.js"></script>
	<link rel="stylesheet" href="../assets/css/jquery-ui.css">
	<script src="../assets/js/jquery-ui.js"></script>
  <style type="text/css">
  	.dropdown-submenu {
	  position: relative;
	}

	.dropdown-submenu .dropdown-menu {
	  top: 0;
	  left: 100%;
	  margin-top: -1px;
	}
  </style>
</head>
<body onload="createNewProject()">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="dropdown _child">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="#">File</a>
	        <ul class="dropdown-menu">
		      <li class="dropdown-submenu _child">
		        <a class="test" href="javascript:void(0)">New Project <span class="caret"></span></a>
		        <ul class="dropdown-menu">
	              <li class="dropdown-submenu">
	              	<a class="test" href="#">HTML Based<span class="caret"></span></a>
	              	<ul class="dropdown-menu">
		              <li><a href="#">New </a></li>
		              <li><a href="#">Open</a></li>
		            </ul>
	              </li>
	              <li class="dropdown-submenu">
	              	<a class="test" href="#">Latex Based<span class="caret"></span></a>
	              	<ul class="dropdown-menu">
		              <li><a href="#">New</a></li>
		              <li><a href="#">Open</a></li>
		            </ul>
	              </li>
	              <li class="dropdown-submenu">
	              	<a class="test" href="#">Video Presentation<span class="caret"></span></a>
	              	<ul class="dropdown-menu">
		              <li><a href="#">New</a></li>
		              <li><a href="#">Open</a></li>
		            </ul>
	              </li>
	              <li class="dropdown-submenu">
	              	<a class="test" href="#">E-mail Design<span class="caret"></span></a>
		             <ul class="dropdown-menu">
			            <li><a href="javascript:void(0)" action-field="menuBtn-start-new">New</a></li>
			         </ul>
	              </li>
	              <li class="dropdown-submenu">
	              	<a class="test" href="#">Social Based<span class="caret"></span></a>
	              	<ul class="dropdown-menu">
		              <li><a href="#">New</a></li>
		            </ul>
	              </li>
	              <li class="dropdown-submenu">
	              	<a class="test" href="#">Publication Design<span class="caret"></span></a>
	              	<ul class="dropdown-menu">
		              <li><a href="#">New</a></li>
		              <li><a href="#">Open</a></li>
		            </ul>
	              </li>
	            </ul>
		      </li>
		      <li><a tabindex="-1" href="#">Open</a></li>
		      <li><a tabindex="-1" href="#">Save</a></li>
		      <li><a tabindex="-1" href="#">Save As</a></li>
		      <li><a tabindex="-1" href="#">Close Project</a></li>
		      <li><a tabindex="-1" href="#">Exit</a></li>
		    </ul>
	  </li>
      <li class="dropdown _child">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Navigate</a>
        <ul class="dropdown-menu">
          <li><a href="#">Send <span style="float: right;">Ctrl+Alt+Enter</span></a></li>
          <li><a href="#">Reset <span style="float: right;">Ctrl+Alt+Esc</span></a></li>
          <li><a href="#">Delete <span style="float: right;">Ctrl+Delete</span></a></li>
        </ul>
      </li>
      <li class="dropdown _child">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Attach</a>
        <ul class="dropdown-menu">
          <li><a href="#">Image</a></li>
          <li><a href="#">Document</a></li>
          <li><a href="#">Audio</a></li>
        </ul>
      </li>
      <li class="dropdown _child">
      	<a class="dropdown-toggle" data-toggle="dropdown" href="#">Contact</a>
      	<ul class="dropdown-menu">
          <li><input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()"></li>
          <li class="divider"></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">Add Contact </a></li>
          <li><a href="#">Import Contacts </a></li>
          <li class="divider"></li>
          <div class="contact-list">
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
	        <li><a href="#">Name <span style="float: right;">email@gmail.com</span></a></li>
          </div>
        </ul>
      </li>
      <li class="_child"><a href="#">Settings</a></li>
      <li class="_child"><a href="#">Help</a></li>
      <li class="_child"><a href="#">About</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div id="mail_list_div">
				<table id="mail_list" class="table display table-striped table-bordered table-hover" style="width:100%; margin-bottom: 0;">
					<thead>
						<th>bhdfgbhf</th>
						<th>bhdfgbhf</th>
						<th>bhdfgbhf</th>
					</thead>
					<tbody>
						<tr>
							<td class="checkTD"></td>							
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/04/25</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/07/25</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2009/01/12</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2012/03/29</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">London Yogesh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2008/11/28</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2012/12/02</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2012/08/06</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">London Yogesh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2010/10/14</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2009/09/15</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">London Yogesh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2008/12/13</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2008/12/19</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2013/03/03</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2008/10/16</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">London Yogesh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2012/12/18</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2010/03/17</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">London Yogesh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2012/11/27</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2010/06/09</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">London Yogesh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2009/04/10</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2012/10/13</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">London Yogesh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2012/09/26</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/09/03</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2009/06/25</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/12/12</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">London Yogesh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2010/09/20</div></td>
						</tr>
						<tr>
							<td class="message"><input type="checkbox" value=""></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2009/10/09</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2010/12/22</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">London Yogesh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2010/11/14</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/06/07</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">London Yogesh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2012/04/09</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2010/01/04</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2012/06/01</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2013/02/01</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/12/06</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/03/21</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2009/02/27</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2010/07/14</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2008/11/13</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/06/27</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/01/25</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2008/11/13</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/06/27</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/01/25</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2008/11/13</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/06/27</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/01/25</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2008/11/13</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/06/27</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/01/25</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2008/11/13</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/06/27</div></td>
						</tr>
						<tr>
							<td class="checkTD"></td>
							<td>
								<div class="mail_list_content">
									<span class="mail_list_subject">Edinburgh</span>
									<span class="mail_list_separator">&nbsp;-&nbsp;</span>
									<span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
								</div>
							</td>
							<td class="mail_date"><div class="dated_mail"><i class="fa fa-paperclip attach"></i>2011/01/25</div></td>
						</tr>
					</tbody>
					<tfoot>
						<th>ghfdhdfg</th>
						<th>ghfdhdfg</th>
						<th>ghfdhdfg</th>
					</tfoot>
				</table>
		  </table>			
		</div>
		<div id="mail_form_div">
			<div class="row" style="margin: 0;">				
				<div class="tab-container">
				  <ul class="nav nav-tabs" data-asid="tab-layout" id="tab-layout">
				  	<li class="extra-tabs">
				  		<span class="scrollLeft">
				  			<i class="fa fa-caret-left"></i>
				  		</span>
				  		<span class="scrollRight">
				  			<i class="fa fa-caret-right"></i>
				  		</span>
				  	</li>
				  </ul>

				  <div class="tab-content" data-asid="tab-contents"></div>
				</div>
				<div data-asid="no-project" style="user-select: none;">
					<center style="padding-top: 12%;">
						<h1>It's look like lonely here</h1>
						<img src="../assets/images/no-mail.png" style="width: 10%;"><br>
						<h4>You have not started any email project.</h4>
						<h5 style="color: #9a9a9a; margin-bottom: 0;">Press Ctrl+N to start new project or</h5>
						<a action-field="divBtn-start-new" href="javascript:void(0)" style="font-size: 15px;">Start from here</a>
					</center>
				</div>
			</div>		
		</div>
	</div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" style="top: 25%">
    <div class="modal-dialog modal-md">
      <div class="modal-content mdl">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title">Add Contact</h5>
          <img src="../assets/images/add-cont.png">
        </div>
        <div class="modal-body">
          <form action="/action_page.php">
  <div class="form-group">
    <label for="txt">Name:</label>
    <input type="text" class="form-control" id="txt">
  </div>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  
</form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default">Add</button>
        </div>
      </div>
    </div>
  </div>
	<script src="../assets/js/jquery.contextMenu.min.js"></script>
	<script src="../assets/js/jquery.ui.position.js"></script>
	<script src="../assets/js/jquery.dataTables.min.js"></script>
	<script src="../assets/js/dataTables.select.min.js"></script>
	<script src="../assets/js/dataTables.bootstrap.min.js"></script>
	<script src="../assets/js/email-project.js"></script>
	<script src="../assets/js/tabOperations.js"></script>
	<!-- <script src="../assets/ckeditor-full/ckeditor.js"></script> -->
	<script>
		
   // CKEDITOR.on('instanceReady', function (evt) {
      // var editor = evt.editor;
      // $('#cke_1_top').hide();

      // editor.on('focus', function (e) {
      //    $('#cke_1_top').slideDown();
      // });
      // editor.on('blur', function (e) {
      //    $('#cke_1_top').slideUp();
      // });
   // });
	</script>
</body>
</html>