body {
    overflow: hidden;
    user-select: none;
}
.rotate{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.breadcrumb {
    padding: 5px 0px;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    font-weight: bold;
}
.breadcrumb>li+li:before {
    padding: unset;
    /*font-family: FontAwesome;*/
    color: unset;
    content: unset;
}
.line-arrow.right {
    border-top: 1px solid #828080;
    border-right: 1px solid #828080;
    transform: rotate(54deg) skew(20deg);
}

.line-arrow {
    overflow: hidden;
    display: inline-block;
    font-size: 12px;
    width: 8px;
    height: 8px;
}
.breadcrumb .fa-folder {
    position: relative;
    top: 1px;
    font-size: 16px;
    padding: 0px 5px;
    color: #ecda31;
}
.breadcrumb .fa-file-text-o {
    position: relative;
    top: 0px;
    font-size: 14px;
    padding: 0px 5px;
    color: #73736e;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  /*background: #f1f1f1; */
  background: transparent;
  border-radius: 50px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    -webkit-border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666; 
}

.caret {
    float: right;
    position: relative;
    top: 5px;
    transform: rotate(-90deg);
}

.sub-nav {
    background-color: #eee;
}

.parent {
  margin: 0;
  padding: 0;
}
.chld {
  display: none;
  padding-left: 15px;
}

.active {
  display: block;
}
/*.............Video Project css.............*/
.work-pan{
  height: 70vh;
  background: #f3f3f3;
  border-bottom: 1px solid #a9a9a9;
}
.tool-tab-pan{
    height: 70vh;
    border: 1px solid #a9a9a9;
    border-top: none;
    width: 20%;
    background: #ececec;
    box-shadow: none;
}
.tab-property table{
  margin: 0;
    }
.tab-property table>tbody>tr>td:nth-child(1) {
    padding: 2px 7px;
    width:10%;
    line-height: 20px;
    text-align: center;
}
.tab-property table>tbody>tr>td:nth-child(2) {
    padding: 2px 7px;
    width:45%;
    line-height: 20px;
}
.tab-property table>tbody>tr>td:nth-child(3) {    
    padding: 4px 7px;
}
.tab-property table>tbody>tr>td input {    
    border: 0px;
    width: 100%;
    padding: 1px 4px;
    background: transparent;
}
.tab-property i {    
    color: #a9a9a9;
}
.w3-teal, .w3-hover-teal {
    color: #000 !important;
    background-color: #e4e4e4!important;
}
.w3-teal, .w3-hover-teal:hover {
    color: #000!important;
    background-color: #e4e4e4!important;
}
.close-btn {
    position: relative;
    float: right;
}
.tool-tab {
    background: #e4e4e4;
    border-bottom: 1px solid #a9a9a9;
}
.icn{
    padding: 5px 10px!important;
}
.tool-tab>li>a {
    margin: 0;
    color: #4a4949;
    border-radius: 0 !important;
    font-size: 14px !important;
    padding: 5px 10px;
    line-height: 1.42857143;
}
.tool-tab>li {
border-right: 1px solid #a9a9a9;
}
.tool-tab>li.active>a, .tool-tab>li.active>a:focus, .tool-tab>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #ececec;
}
.tool-tab>li:active{
  border-bottom: 1px solid #ececec !important;
}
.tool-tab>li>a:focus, .tool-tab>li>a:hover {
    margin: 0px;
    color:#000;
    text-decoration: none;
    border: 1px solid #c7c7c7;
    background-color: #c7c7c7;
    border-bottom: 0;
}
.bottom-tool-menu{
text-align: center;
border-bottom: 1px solid #a9a9a9;
background: #e4e4e4;
}
.bottom-tool-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

.bottom-tool-menu li {
    height: 23px;
    line-height: 24px;
    text-align: center;
}
.bottom-tool-menu a {
  text-decoration: none;
  color: #545353;
  padding: 2px 8px;
  font-size: 14px;
  border-left: 1px solid #a9a9a9;
}
.bottom-tool-menu a:hover {
    color: #000000;
    background-color: #c7c7c7;
}
.bottom-tool-menu>li>a:focus, .bottom-tool-menu>li>a:hover {
    background-color: #ccc;
}
.bottom-tool-sec{
border-bottom: 1px solid #a9a9a9;
background: #e4e4e4;
}
.bottom-tool-sec ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.bottom-tool-sec li {
  height: 23px;
  line-height: 24px;
  text-align: center;
}
.bottom-tool-sec a {
  text-decoration: none;
  color: #545353;
  padding: 2px 6px;
  font-size: 14px;
  border-left: 1px solid #a9a9a9;
}
.bottom-tool-sec a:hover{
  color: #000000;
  background-color: #c7c7c7;
}
.bottom-tool-sec>li>a:focus, .bottom-tool-sec>li>a:hover {
    background-color: #ccc;
}
.tool-btn{
    width: 1.5%;
    height: 69.9vh;
    position: fixed;
    background: #e4e4e4;
    border: 1px solid #a9a9a9;
}
.w3-container:after {
    content: "";
    background: #e4e4e4;
    width: 37px;
    position: absolute;
    top: 64px;
    left: 0;
    border-right: 1px solid #a9a9a9;
}
.w3-container:before {
    content: "";
    background: #e4e4e4;
    width: 37px;
    position: absolute;
    top: 64px;
    right: 0;
    border-left: 1px solid #a9a9a9;
}
.w3-container:after, .w3-container:before {  
    height: calc(100% - 291px);
}
@media (min-width: 1920px) {
  .w3-container:after, .w3-container:before {  
      height: calc(100% - 317px);
  }
}
.w3-button {
    outline: 0px;
    display: inline-block;
    padding: 5px 10px;
}
.w3-left {
    border-right: 1px solid rgb(169, 169, 169);
}
.video-container{
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
}
.w3-right {
    border-left: 1px solid rgb(169, 169, 169);
}
.tab-head{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0px;
    background: #ececec;
}
.tab-head p{
  margin: 0;
}
.tab-property{
    min-height: 50px;
    border-bottom: 1px solid #a9a9a9;
    background: whitesmoke;
}
.scrl{
  overflow-y:scroll;
}
.tab-menu{
  border-bottom: 1px solid #d4d2d2;
  border-top: 1px solid #d4d2d2;
}
.tab-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.tab-menu li {
  float: right;
}
.tab-menu li a {
    display: block;
    color: #4a4949;
    text-align: center;
    padding: 7px;
    text-decoration: none;
}
.tab-menu li a:hover {
  background-color: #c7c7c7;
  color:#000;
}
.tab-menu i{
      font-size: 14px;
}
.tab-tool-item{
  margin: 10px;
}
.tab-tool-item ul {
  border:0;
  background:0; 
}
.tab-tool-item li {
  border:0;
  padding: 5px 12px;
}
.slider {
  -webkit-appearance: none;
  width: 500px !important;
  height: 5px;
  position: relative;
  top: 10px;
  border-radius: 5px;
  background: #525252;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius:50%;
  background: #000;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.slider-sec {
  -webkit-appearance: none;
  width: 125px !important;
  height: 5px;
  position: relative;
  top: 10px;
  border-radius: 5px;
  background: #525252;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider-sec:hover {
  opacity: 1;
}
.slider-sec::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius:50%;
  background: #000;
  cursor: pointer;
}
.slider-sec::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}