<div class="container-fluid no-padding">
	<div class="col-md-2 no-padding">
		<div class="iconshow">
			<a href="#"><img src="../assets/images/social_icon/twitter_410515.svg">
				<h5>Twitter</h5>
			</a>	
		</div>
	</div>
	<div class="col-md-10">
		<h4 class="tophead">What's on your mind ?</h4>
			<div class="form-group">
			  <textarea id="example1" class="form-control" rows="5" id="comment"></textarea>
			</div>
			<div class="pic_sec">
				<h5>Upload Photo's and video's</h5>
				<form class="upload_pic">
					<div class="inputsec">
						<label for="pic">
							<img src="../assets/images/social_icon/Camera.png">
						</label>
						<input type="file" id="pic" name="pic" accept="image/*" style="display:none;">
						<label for="vdo">
							<img src="../assets/images/social_icon/vdo.png">
						</label>
						<input type="file" id="vdo" name="pic" accept="video/*" style="display:none;">
					</div>
				</form>
			</div>
		<button type="button" class="btn btn-success upload">Post</button>
	</div>
</div>